@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4 text-dark" style="font-weight: bolder; text-shadow: #ff5660 3px 2px 10px;">Welcome</h1>
    <h1 class="display-4 text-dark" style="font-weight: bolder; text-shadow: #ff5660 3px 2px 10px;">Administrator</h1>
    <img src=".\wel/wel.png" alt="welcome">
    <br />
    <p style="border-bottom: 3px solid #ff5660;
        border-bottom-width: 10px; font-weight: bold;
        text-shadow: #ff5660 1px 1px 5px;">What do you need to change now? </p>
</div>
